
<ng-sidebar-container>
  <ng-sidebar [opened]="opened">
    <p>
      sidebar contents
    </p>
    <button (click)="toggleSidebar()">close</button>

    <ul>
      <li><a routerLink="/" (click)="toggleSidebar()">Dashboard</a></li>
      <li><a routerLink="/student" (click)="toggleSidebar()">Events</a></li>
      <li><a routerLink="/profiles" (click)="toggleSidebar()">profiles</a></li>
    </ul>
  </ng-sidebar>
  <div ng-sidebar-content>
    <button (click) = "toggleSidebar()">
      open sidebar
    </button>
    <router-outlet></router-outlet>
  </div>
</ng-sidebar-container>